@page 
@model HospitalDeVehiculosUltimaVersion.Pages.Mantenimientos.PagoTarjetaModel

<h2>Pago con Tarjeta — Mantenimiento @Model.Mantenimiento.Id</h2>
<p>Total: <strong>@Model.Total.ToString("0.00") Bs</strong></p>

<form method="post">
    <div class="mb-3">  
        <label for="Number" class="form-label">Card Number</label>
        <input type="text" class="form-control" id="Number"
               asp-for="NUMERO_TARJETA" placeholder="1234 5678 9012 3456" required />
    </div>

    <div class="mb-3">
        <label for="Expiration" class="form-label">Expiration Date</label>
        <input type="text" class="form-control" id="Expiration"
               asp-for="VENCIMIENTO" placeholder="MM/YY" required />
    </div>

    <div class="mb-3">
        <label for="CVV" class="form-label">CVV</label>
        <input type="password" class="form-control" id="CVV"
               asp-for="CVV" placeholder="123" required />
    </div>
    <input type="hidden" class="form-control" id="CVV"
           asp-for="IdMantenimientoPost" value="@Model.Mantenimiento.Id" />

    <button type="submit" class="btn btn-primary">Confirmar Pago</button>

</form>
