@page "{id:int}"
@model HospitalDeVehiculosUltimaVersion.Pages.Mantenimientos.TipoPagoModel
@{
    ViewData["Title"] = "Tipo de Pago";
}

<h1>Tipo de Pago</h1>

<div class="d-flex gap-2">
    <a class="btn btn-primary"
       asp-page="./PagoQr"
       asp-route-id="@Model.Id">QR</a>

    <a class="btn btn-primary"
       asp-page="./PagoTarjeta"
       asp-route-id="@Model.Id">Tarjeta</a>

    <a asp-page="./Index" class="btn btn-outline-secondary ms-2">Cancelar</a>
</div>
